{% extends "layout.html %}

{% block title %}
    Price Quote
{% endblock %}

{% block main %}
    <table id = "t01">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Company Name</th>
                <th>Price Per Share</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ stock_symbol_quote_dict['symbol'] }} </td>
                <td> {{ stock_symbol_quote_dict['name'] }}</td>
                <td> {{ stock_symbol_quote_dict['price'] }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
