 ` {% extends "layout.html" %}

{% block body %}
    {% if session.username %}
    <h1>Register</h1>
        <form action = "/register" method = "post">
            <input autocomplete = "off" autofocus name = "username" placeholder = "Username" type = "text">
            <input autocomplete = "off" autofocus name = "confirmation" placeholder = "Password"  type = "text">
                <p>You are loggeed in as {{ session.username }}. <a href = "/logout">Log out </a></p>
    {% else %}
        <input type = "submit" value = "Register">
        <p>You are not logged in. <a href = "/login">Log in </a></p>
    </form>
    {% endif %}

{% endblock %}
